
:root {
    --vp-c-brand-1: #e97b32;
    --vp-c-brand-2: #e07431;
    --vp-c-indigo-3: #eb8d53;

}

html.dark a:hover {
    color: #eaf550db !important ;
}

html:not(.dark) a:hover {
    color: #f89500db !important ;
}


html.dark .light-only {
    display: none !important;
  }
  
html:not(.dark) .dark-only {
    display: none !important;
  }

