
:root {
    --vp-c-brand-1: #e97b32;
    --vp-c-brand-2: #e07431;
    --vp-c-indigo-3: #eb8d53;

}

html.dark a:hover {
    color: #eaf550db !important ;
}

html:not(.dark) a:hover {
    color: #f89500db !important ;
}


html.dark .light-only {
    display: none !important;
  }
  
html:not(.dark) .dark-only {
    display: none !important;
  }

.VPImage.image-src {
    transform-origin: center;
}

.highlight {
    color: #E97B32 ;
    text-shadow: #E97B32 0px 0px 5px ;
    font-weight:500;
    font-size: 1.1rem;
}
     
html.dark .color {
    color: #8fa1ee !important;
}

html:not(.dark) .color {
    color: #4c60b9 !important;
}


.reflet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 10%, transparent 70%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);
    border-radius: 15px; /* Match the card's border radius */
  }